name: Main
on:
  push:
    branches: [ main ]
  pull_request: { }

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  lint:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/lint.yml@v6
    with:
      build-tool: uv
      python-version: '3.13'

  test:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/test.yml@v6
    with:
      build-tool: uv
      python-version: '3.13'

  build-container-image:
    needs:
      - lint
      - test
    name: Build ${{ matrix.image-variant }} image
    strategy:
      fail-fast: false
      matrix:
        include:
          - context: '.'
            image-variant: app
          - context: migrations
            image-variant: migrations
    uses: preparingforexams/actions-container/.github/workflows/build-dual-image-buildah.yml@v7
    permissions:
      contents: read
      packages: write
    with:
      context: ${{ matrix.context }}
      image-name: telegram-mood-bot/${{ matrix.image-variant }}
      push-image: ${{ github.ref_name == github.event.repository.default_branch }}

  post-build-container-image:
    runs-on: ubuntu-24.04
    if: "!cancelled() && github.event_name == 'pull_request'"
    needs: build-container-image
    steps:
      - run: |
          if [ "true" == "${{ contains(needs.*.result, 'failure') }}" ]
          then
            echo "A required job failed"
            exit 1
          else
            echo "All required jobs passed"
          fi

  deploy:
    runs-on: ubuntu-24.04
    if: github.ref_name == github.event.repository.default_branch
    permissions:
      contents: write
    needs:
      - build-container-image
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: git push origin main:release

  clean:
    needs: [ deploy ]
    strategy:
      fail-fast: false
      matrix:
        variant: [ app, migrations ]
    concurrency: cleanup-${{ matrix.variant}}
    uses: preparingforexams/actions-container/.github/workflows/clean.yml@v7
    permissions:
      packages: write
    with:
      image-name: telegram-mood-bot/${{ matrix.variant }}
